/* @font-face kit by Fonts2u (http://www.fonts2u.com) */
@font-face {
  font-family: "3 of 9 Barcode";
  src: font-url("3OF9_NEW.eot") format("eot"),
    font-url("3OF9_NEW.woff") format("woff"),
    font-url("3OF9_NEW.ttf") format("truetype"),
    font-url("3OF9_NEW.svg#3Of9Barcode") format("svg");
    font-weight:normal;
    font-style:normal;
}

